/* --------------- Main page --------------- */

body {
  padding-top: 56px;
  position: relative;
}

.mainHeader {
	padding-left: 1%;
	font-family: Century Gothic;	
}


#aboutHeader { /* About header not in box */
	margin-top: 2%;
	margin-bottom: 2%;
}

/* --------------- About page --------------- */

#aboutSub {
	font-size: 100%;
}

/* Menu */
.faq_categories {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(52, 58, 64);
	margin-bottom: 1%;
	border: 0px;		
    border-radius: 8px;
}

.faq_categories li {
	float: left;
}

.faq_categories a {
	font-family: Arial;
	color: rgb(154, 147, 131);
}

	.faq_categories a:hover {
		color: white;
		text-decoration: none;
	}


.faq_listOption {
	display: block;
 	color: white;
	text-align: center;
 	padding: 16px;
 	text-decoration: none;
}

/* Items */

.faq_items {
	outline: 1px solid rgb(224, 224, 224);
	padding: 1%;
	padding-bottom: 0.5%;
	margin-bottom: 1%;
}

.faq_items h3 {
	font-family: Arial;
}

.faq_item {
	outline: 1px solid rgb(224, 224, 224);
	margin-top: 2%;
	margin-bottom: 2%;
}

.faq_title {

}

.faq_question {
	background-color: rgb(243,242,237);
	outline: 1px solid rgb(224, 224, 224);
	padding: 0.5% 0 0.5% 0.5%;
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
}

	.faq_question:hover {
	 	background-color: #ccc;
	}

.faq_answer {
	font-size: 100%;
	padding: 0 0.5% 0.5% 0.5%;
	display: none;
	max-height: 0;
  	overflow: hidden;
  	transition: max-height 0.2s ease-out;
}

/* --------------- Map page --------------- */

.model {
	z-index: 2;
	overflow: auto;
}

/* ----- Menu bar ----- */

#mapHeader, #visualizerHeader {
	margin-top: 2%;
	outline: 1px solid rgb(224, 224, 224);
}

#mapHeaderBar {
	background-color: rgb(243,242,237);
	outline: 1px solid rgb(224, 224, 224);
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

#mapSelectorText, #mapSelectorDrop {
	display: inline-block;
}

#mapSelectorText {
	font-family: sans-serif;
	float: left;
	margin-left: 1%;
}

#mapSelectorDrop {
	margin-left: 1%;
}

/* 0 to 399 */

#mapSelectorText {
		font-size: 0.8em;
	}

/* 400 to 799 */

@media screen and (min-width: 400px) {
  
    #mapSelectorText {
		font-size: 0.8em;
	}

	#mapSelectorDrop {
		margin-left: 5%;
		font-size: 0.7em;
	}
}

/* 800 and up */

@media screen and (min-width: 800px) {
  
	#mapSelectorText {
		font-size: 1em;
	}

	#mapSelectorDrop {
		margin-left: 10%;
		font-size: 0.9em;
	}
}

/* ----- Map markers ----- */

#map {
	margin-top: 2%;
	margin-bottom: 2%;
	border: 0px;		
    border-radius: 8px;
}

.marker {
  background-image: url('../mapbox-markers/marker.png');
  background-size: cover;
  width: 35px;
  height: 55px;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

/* ----- Map overlay ----- */

#controlContainer {
	position: absolute;
	height: auto;
	background-color: rgb(243,242,237);
	outline: 1px solid rgb(224, 224, 224);
}

#controlContainerInner, #legend {
	margin: 3% 0 4% 3%;
}

#legend {
	margin-left: 10%;
	height: 10px;
	width: 80%;
}

#filterTitle {
	text-align: center;
	font-weight: bold;
}

#slider {
	margin-left: 10%;
	width: 80%;
}

#sliderGuide {
	margin-left: 7%;
}

#sliderText {
	margin-left: 7%;
}

#legendText {
	padding-top: 3%;
}

#timeCatList {
	width: 100%;
}


.mapCircle {
	stroke: white;
	stroke-width: 1px;
}

.nameText, .statText {
	fill: white;
	font-size: 150%;
	font-weight: bold;
	stroke-width: 0.8px;
	stroke: black;
}

/* 0 to 399 */

#controlContainer {
	width: 150px;
}

#filterTitle {
	font-size: 1.4em;
}

#sliderGuide {
	font-size:0.7em;
}
	
#sliderText {
	font-size: 0.9em;
	margin-left: 7%;
}

#legend {
	margin-bottom: 40%;
}

#legendText {
	font-size: 0.9em;
	padding-top: 10%;
}

#timeCatList ul {
	font-size: 0.9em;
}

/* 400 to 799 */

@media screen and (min-width: 400px) {
  	
  	#controlContainer {
		width: 200px;
	}

    #filterTitle {
		font-size: 1.3em;

	}

	#sliderGuide {
		font-size: 0.9em;
	}
	
	#sliderText {
		font-size: 1em;
	}

	#legend {
		margin-bottom: 30%;
	}

	#legendText {
		font-size: 1em;
	}

	#timeCatList ul {
		font-size: 1em;
	}
}

/* 800 and up */

@media screen and (min-width: 800px) {

	#controlContainer {
		width: 250px;
	}

	#filterTitle {
		font-size: 1.8em;
	}

	#sliderGuide {
		font-size: 1.1em;
	}
	
	#sliderText {
		font-size: 1.2em;

	}

	#legend {
		margin-bottom: 20%;
	}

	#legendText {
		font-size: 1.2em;
	}

	#timeCatList ul {
		font-size: 1em;
	}

	#timeCatList ul {
		font-size: 1.2em;
	}
}

/* ----- Graph popup ----- */

.model {
	display: none;
	position: absolute; 
	padding-top: 50px;
	left: 0; 
	top: 0;
	width: 100%;
	height: 100%; 
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.5);
}

	#model-content {
		position: relative; 
		background-color: rgb(243,242,237);
		padding: 1.5%; 
		margin: auto; 
		width: 100%;  
		-webkit-animation-name: animatetop;
		-webkit-animation-duration: 0.4s;
		animation-name: animatetop;
		animation-duration: 0.4s
	}

	.close-btn {
		position: absolute;
	  	right: 2.5%;
		color: lightgray; 
		font-size: 24px;  
		font-weight: bold;
	}

	.close-btn:hover {
		color: darkgray;
	}

	#stationHeader, #stationSubHeader {
		text-align: center;
		font-family: Arial;
		font-weight: bold;
	}

	#stationHeader {
		font-size: 250%;
		color: var(--main-graph-color);
	}

	#stationSubHeader {
		font-size: 150%;
		color: rgb(77, 77, 77);
	}

	@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
	}

	@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
	}

	/* 400 to 799 */

	@media screen and (min-width: 400px) {
	  
	    #model-content {
	    	width: 90%;
	    }
	}

	/* 800 and up */

	@media screen and (min-width: 800px) {
	  
		#model-content {
	    	width: 80%;
	    }
	}

	.dot, .filterHeader, .bar, .scatterDot, .numVal {
  		cursor: pointer;
	}

/* Overall selector SVG */

#Overallsvg, #DAsvg, #DFsvg {
	background-color: white;
	width: 20%;
	box-shadow: 2px 2px grey;
}

	#Overallsvg {
		float: left;
	}

	#DAsvg {
		float: left;
		margin-left: 20%;
	}

	#DFsvg {
		float: right;
	}

	.filterHeader {
		font-size: 200%;
		font-weight: bold;
	}

/* Set up all SVGs */

#linesvg, #avgTravelLine, #callTimes, #bar2svg, #piesvg {
	background-color: white;
	margin-top: 2%;
	box-shadow: 2px 2px grey;
	width: 100%;
}

	/* Bar chart */
	.bar {
	    fill: var(--opposite-graph-color);
	}

	#xLabel, #yLabel
	{
		fill: black;
		font-size: 175%;
	}

/* Line SVG */

.line {
	fill: none;
    stroke: var(--main-graph-color);
    stroke-width: 2px;
}

.lineLabel {
	font-family: Arial;
	font-size: 100%;
}

.area {
	fill: var(--opposite-graph-color);
}

.dot {
	fill: var(--main-graph-color);
	stroke: white;
}

/* Pie Chart */

.pieLabel {
	font-family: Arial;
	font-style: italic;
	fill: black;
	font-size: 120%;
	text-anchor: middle;
}

/* Scatter plot */

#callTimes {
	margin-bottom: 1%;
}

.scatterDot {
	fill: var(--main-graph-color);
}

/* Tooltip */
.tooltip {	
    position: absolute;			
    text-align: center;		
    width: auto;					
    height: 7%;					
    padding: 2px;					
    background: var(--mouse-click-graph-color);
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.popUpText {
	font: 150% sans-serif;
	color: white;	
}

/* ---------- Visualizations page ---------- */

#VisualizeAbout {
	border-radius: 5px;
	background: #cccccc;
	padding: 20px;
	width: 70%;
	height: auto; 
}

#VisualizeLinks {
	display: inline;
	position: relative;
	float: right;
	border-radius: 5px;
	background: #cccccc;
	padding: 20px;
	width: auto;
	height: auto; 
}

#visualizerText {
	padding-left: 1%;
	font-family: sans-serif;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

#vizHeaderBar {
		background-color: rgb(243,242,237);
		outline: 1px solid rgb(224, 224, 224);	
}

/* Visualizer menu */

#vizControlDiv {
	width: 100%;
	outline: 1px solid rgb(224, 224, 224);
	margin-bottom: 2%;	
}

#vizControlHeader {
	background-color: rgb(243,242,237);
	outline: 1px solid rgb(224, 224, 224);	
}

#restartViz {
	width: 5em;
	margin: 1% 0 1% 2%;
}

/* Visualization form */

#vizForm {
	margin: 2% 2% 2% 2%;
	padding-bottom: 2%;
}

#vizForm p {
	font-size: 110%;
	margin-top: 1%;
}

#vizForm label {
	margin-left: 1%;
}

#vizForm .submit {
	margin: 1% 0% 1% 0%;
	width: 5em;
}

.unselectButton {
	margin: 0.1% 90% 1% 0.2%;
	width: 8em;
}

/* Hide all default */
.tab {
	display: none;
}

.step {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbbbbb;
	border: none;
	border-radius: 50%;
	display: inline-block;
	opacity: 0.5;
}

/* Mark the active step */
.step.active {
	opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
	background-color: #4CAF50;
}

.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* ---------- Accessibility page ---------- */

#accessibilityHeader {
	margin: 2% 0 2% 0;
}

#accessibilityContainer {
	outline: 1px solid rgb(224, 224, 224);
	margin-bottom: 35%;
}

#accessibilityHeaderBar {
	width: 100%;
	height: 30px;
	background-color: rgb(243,242,237);
	outline: 1px solid rgb(224, 224, 224);
}

.accessibilityDiv {
	display: inline-block;
	width: 30%;
	margin: 3% 0 3% 0;
}

#colorSelectorDrop, #textSelectorDrop {
	width: 100%;
}

#accessibilityHeaderBar p {
	font-family: sans-serif;
	margin-left: 1%;
}

#graphColour {
	margin-left: 10%;
}

#fontSize {
	float: right;
	margin-right: 10%;
}

#colorSelectorHeader {
	text-align: center;
	font-size: 0.8em;
	margin-left: 0.5%;
}

#textSelectorHeader {
	text-align: center;
	font-size: 0.8em;
	margin-left: 0.5%;
}

/* 0 to 399 */

#accessibilityHeaderBar p {
		font-size: 0.8em;
		padding-top: 1.2%;
	}

	#colorSelectorHeader {
		font-size: 0.8em;
	}

	#textSelectorHeader {
		font-size: 0.8em;
	}

/* 400 to 799 */

@media screen and (min-width: 400px) {
  
  	#accessibilityHeaderBar p {
		font-size: 0.8em;
		padding-top: 1%;
	}

	#colorSelectorHeader {
		font-size: 1em;
	}

	#textSelectorHeader {
		font-size: 1em;
	}
}

/* 800 and up */

@media screen and (min-width: 800px) {
  	
  	#accessibilityHeaderBar p {
		font-size: 1em;
		padding-top: 0.5%;
	}

  	#colorSelectorHeader {
		font-size: 1.5em;
	}

	#textSelectorHeader {
		font-size: 1.5em;
	}
}