/* ---------- Main page ---------- */

body {
  padding-top: 56px;
  position: relative;
}

.MainHeader {
	font-family: Arial;
}

.SubHeader {
	font-family: Arial;
	font-style: italic;
}

/* ---------- Map page ---------- */

.model {
	z-index: 2;
	overflow: auto;
}

.container {
	/*Empty*/
}

/* ----- Menu bar ----- */

#mapHeader {
	margin-top: 2%;
	outline: 1px solid rgb(224, 224, 224);
}

	#mapSelector {
		background-color: rgb(243,242,237);
		outline: 1px solid rgb(224, 224, 224);
		padding-top: 0.5%;
		padding-bottom: 0.5%;
	}

	#mainHeader, #selectorText {
		padding-left: 1%;
		font-family: Century Gothic;
		height: auto;
	}

	#selectorText {
		font-family: sans-serif;
		float: left;
	}

	#mapSelectorDrop {
		margin-left: 50%;
	}

/* ----- Map markers ----- */

#map {
	margin-top: 2%;
	margin-bottom: 2%;
	border: 0px;		
    border-radius: 8px;
}

.marker {
  background-image: url('../mapbox-markers/marker.png');
  background-size: cover;
  width: 35px;
  height: 55px;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

/* ----- Map overlay ----- */

#controlContainer {
	position: absolute;
	width: 30%;
	background-color: rgb(243,242,237);
	outline: 1px solid rgb(224, 224, 224);
}

#controlContainerInner, #legend {
	margin: 3% 0 5% 3%;
}

#slider {
	margin-left: 10%;
	width: 80%;
}

#legend {
	margin-left: 10%;
	height: 10px;
	width: 80%;
	background: linear-gradient(to right, #214e7f, #73deff);
}

/* ----- Graph popup ----- */

.model {
	display: none;
	position: absolute; 
	padding-top: 50px;
	left: 0; 
	top: 0;
	width: 100%;
	height: 100%; 
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.5);
}

	#model-content {
		position: relative; 
		background-color: rgb(243,242,237);
		padding: 20px; 
		margin: auto; 
		width: 75%;  
		-webkit-animation-name: animatetop;
		-webkit-animation-duration: 0.4s;
		animation-name: animatetop;
		animation-duration: 0.4s
	}

	.close-btn {
		position: absolute;
	  	right: 2.5%;
		color: lightgray; 
		font-size: 24px;  
		font-weight: bold;
	}

	.close-btn:hover {
		color: darkgray;
	}

	#stationHeader, #stationSubHeader {
		text-align: center;
		font-family: Arial;
		font-weight: bold;
	}

	#stationHeader {
		font-size: 250%;
		color: rgb(77, 121, 255);
	}

	#stationSubHeader {
		font-size: 150%;
		color: rgb(77, 77, 77);
	}

	@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
	}

	@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
	}

/* Overall selector SVG */

#Overallsvg, #DAsvg, #DFsvg {
	background-color: white;
	width: 20%;
	box-shadow: 2px 2px grey;
}

	#Overallsvg {
		float: left;
	}

	#DAsvg {
		float: left;
		margin-left: 20%;
	}

	#DFsvg {
		float: right;
	}

/* Bar SVG */
#linesvg, #catBarsvg {
	background-color: white;
	margin-top: 2%;
	box-shadow: 2px 2px grey;
	
}

	/* Bar chart */
	.bar {
	    fill: red;
	}

/* Line SVG */
#barsvg, #bar2svg {
	background-color: white;
	margin-top: 2%;
	box-shadow: 2px 2px grey;
	float: right;
}

		#line {
			fill: none;
		    stroke: rgb(77, 121, 255);
		    stroke-width: 2px;
		}

		.area {
			fill: red;
		}

		.dot {
	   		fill: rgb(77, 121, 197);
	    	stroke: white;
		}

/* Pie Chart */
#piesvg {
	background-color: white;
	margin-top: 2%;
	box-shadow: 2px 2px grey;	
}


	.pieLabel {
		font-family: Arial;
		font-style: italic;
		/*fill: rgb(77, 121, 197);
		stroke-width: 0.6px;
		stroke: black;*/
		fill: black;
		font-size: 120%;
		text-anchor: middle;
	}

/* Tooltip */
.tooltip {	
    position: absolute;			
    text-align: center;		
    width: auto;					
    height: 7%;					
    padding: 2px;					
    background: rgb(176, 196, 222);
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.popUpText {
	font: 150% sans-serif;	
}

/* ---------- Visualizations page ---------- */

#VisualizeAbout {
	border-radius: 5px;
	background: #cccccc;
	padding: 20px;
	width: 70%;
	height: auto; 
}

#VisualizeLinks {
	display: inline;
	position: relative;
	float: right;
	border-radius: 5px;
	background: #cccccc;
	padding: 20px;
	width: auto;
	height: auto; 
}

/* ---------- About page ---------- */

#about {
	margin-top: 2%;
	margin-bottom: 2%;
	font-family: Century Gothic;
}

#aboutSub {
	font-size: 120%;
}

/* Menu */
.faq_categories {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(52, 58, 64);
	margin-bottom: 1%;
	border: 0px;		
    border-radius: 8px;
}

.faq_categories li {
	float: left;
}

.faq_categories a {
	font-family: Arial;
	color: rgb(154, 147, 131);
}

	.faq_categories a:hover {
	color: white;
	text-decoration: none;
	}


.faq_listOption {
	display: block;
 	color: white;
	text-align: center;
 	padding: 16px;
 	text-decoration: none;
}

/* Items */
.faq_items {
	outline: 1px solid rgb(224, 224, 224);
	padding: 1%;
	padding-bottom: 0.5%;
	margin-bottom: 1%;
}

.faq_items h3 {
	font-family: Arial;
}

.faq_item {
	outline: 1px solid rgb(224, 224, 224);
	margin-top: 2%;
	margin-bottom: 2%;
}

.faq_question {
	background-color: rgb(243,242,237);
	outline: 1px solid rgb(224, 224, 224);
	padding: 0.5% 0 0.5% 0.5%;

	cursor: pointer;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
}

	.faq_question:hover {
	 	background-color: #ccc;
	}

.faq_answer {
	font-size: 100%;
	padding: 0 0.5% 0.5% 0.5%;
	display: none;
	max-height: 0;
  	overflow: hidden;
  	transition: max-height 0.2s ease-out;
}
