{% extends "VisualizeApp/base.html" %}

{% block content %}

	<div class = "container">
		
		<h1 id = "about">About</h1>
	
		<section class = "faq_section">
			
			<ul class = "faq_categories">
				<li><a class="faq_listOption" href="#basics">Basics</a></li>
				<li><a class="faq_listOption" href="#data">Data</a></li>
				<li><a class="faq_listOption" href="#disclaimer">Disclaimers</a></li>
			</ul> <!-- cd-faq__categories -->

			<h3 id = "aboutSub"><i>Navigate sections with the menu and click questions to expand...</i></h3>

			<div class = "faq_items">
				<div id = "basics" class="faq_group">
					<h3 class = "faq_title">Basics</h3>

					<div class = "faq_item">
						<p class = "faq_question">What is SOStimate?</p>
	          			<div class="faq_answer">
	            			<p>SOStimate is an online application for visualizing ambulance and fire brigade dispatches in the Dublin region. It allows users to explore and become more farmilliar with their ambulance and fire service through use of detailed, intuitive and interactive visualizations.</p>
	         			</div> 
	         		</div> <!-- faq_item -->

	         		<div class = "faq_item">
						<p class = "faq_question">Who developed SOStimate?</p>
	          			<div class="faq_answer">
	            			<p>SOStimate was developed as part of a final year Technological University Dublin computer science college project.</p>
	         			</div> 
	         		</div> <!-- faq_item -->

	         		<div class = "faq_item">
						<p class = "faq_question">Is SOStimate affiliated with any official body?</p>
	          			<div class="faq_answer">
	            			<p>No. SOStimate is not affiliated officially or otherwise with any organization including Dublin City Council, the National Ambulance Service or Dublin City Fire Brigade.</p>
	         			</div> 
	         		</div> <!-- faq_item -->

	         		<div class = "faq_item">
						<p class = "faq_question">Why is SOStimate useful?</p>
	          			<div class="faq_answer">
	            			<p>SOStimate is useful because it allows everyone - not just technology-savvy users - to interact with their ambulance and fire services in a way never seen before in Ireland. The visualizations are freely available to use in education, presentations, etc.</p>
	         			</div> 
	         		</div> <!-- faq_item -->

	         		<div class = "faq_item">
						<p class = "faq_question">What are the goals of SOStimate?</p>
	          			<div class="faq_answer">
	            			<p>SOStimate aims to increase public awareness and respect for both the National Ambulance Service and Dublin City Fire Brigade. It is hoped that, through the ability to visually see the effect of a call, a new level of understanding can be publically adopted and wasteful calls can be decreased. It was also the goal of the project to put the fantastic datasets to good, public, easy to access use.</p>
	         			</div> 
	         		</div> <!-- faq_item -->
				</div> <!-- faq_group -->

				<div id = "data" class="faq_group">
					<h3 class = "faq_title">Data</h3>
					
					<div class = "faq_item">
						<p class = "faq_question">What information is in the database?</p>
	          			<div class="faq_answer">
	            			<p>The database for the application consists of all of the ambulance and fire brigade dispatches from the Dublin area, stations listed below. Currently, the data from 2013 until 2018 is hosted but this will hopefully be updated soon.</p>
	         			</div> 
	         		</div> <!-- faq_item -->

	         		<div class = "faq_item">
						<p class = "faq_question">What does the data consist of?</p>
	          			<div class="faq_answer">
	            			<p>For each call, there are a number of pieces of information recorded. For Dublin ambulance calls, the following list is present and can be looked up. For Dublin Fire Brigade calls, information is the same excluding time left for hospital, etc.</p>
	            			<ul>
	            				<li><b>Date: </b> The date of the call,</li>
	            				<li><b>Incident Area: </b>The station from which there is a dispatch,</li>
	            				<li><b>Incident Type: </b>The type of incident that the vehicle is responding to (See below for code translations),</li>
	            				<li><b>Time of Call (TOC): </b>Time that the call was received in control centre,</li>
	            				<li><b>Vehicle Ordered (ORD): </b>Time that the vehicle was ordered by the controller,</li>
	            				<li><b>Vehicle Mobile (MOB):</b>Time that the vehicle was mobile (Moving) to the scene,</li>
	            				<li><b>Vehicle Arrival (IA): </b>Time that the vehicle stopped at the incident i.e. arrived,</li>
	            				<li><b>Vehicle Leaving (LS): </b>Time that the vehicle left for the hospial,</li>
	            				<li><b>Arrive at Hospital (AH): </b>Time that the vehicle arrived at the hospital,</li>
	            				<li><b>Move Away (MAV): </b>Time that the vehicle travelled back to the station,</li>
	            				<li><b>Shut Down (CD): </b>Time that the vehicle shuts down (Radio turned off in station).</li>
	            			</ul>
	            			<p><b><i>Please note: </i></b>Not all categories are present for every call. For example, an ambulance call-out may not need to visit the hospital, may be cancelled and never arrive to scene, etc. In these instances, the non-applicable categories are left as 'na'.</p>
	         			</div> 
	         		</div> <!-- faq_item -->

	         		<div class = "faq_item">
						<p class = "faq_question">What are the incident codes?</p>
	          			<div class="faq_answer">
	            			<p>For Dublin ambulance calls, the incident codes are as follows:</p>
	            			<ul>
	            				<li><b>Echo: </b>Life threatening - Cardiac or respiratory arrest,</li>
	            				<li><b>Delta: </b>Life threatening - Other than cardiac or respiratory arrest,</li>
	            				<li><b>Charlie: </b>Not life threatening - Serious and immediate,</li>
	            				<li><b>Bravo: </b>Not life threatening - Serious and urgent,</li>
	            				<li><b>Alpha: </b>Not life threatening - Not serious,</li>
	            				<li><b>Omega: </b>Minor illness or injury</li>
	            			</ul>
	            			<p>For Dublin fire brigade calls, there is a large amount of incident codes. Most are self explanatory:</p>
	            			<ul>
	            				<li><b>S/S CARBON: </b>Special Service: Investigate carbon alarm,</li>
	            				<li><b>Fire ALARM: </b>Investigate fire alarm,</li>
	            				<li><b>S/S OTHER: </b>Special Service: Other,</li>
	            				<li><b>S/S AMB ASSIST: </b>Special Service: Assist with an ambulance call-out,</li>
	            				<li><b>Fire SMALL: </b>Deal with a small fire, e.g. a bonfire,</li>
	            				<li><b>Fire DOMESTIC: </b>Deal with a household fire,</li>
	            				<li><b>Fire CAR: </b>Deal with a car fire,</li>
	            				<li><b>S/S LIFT PERSTRAPPED: </b>Special Service: Deal with person(s) caught in a lift.</li>
	            			</ul>
	         			</div> 
	         		</div> <!-- faq_item -->

	         		<div class = "faq_item">
						<p class = "faq_question">How is this data collected?</p>
	          			<div class="faq_answer">
	            			<p>This depends on the point within the data. Some of the pieces of information are recorded automatically via. the controller, such as receiving a call. Other data is recorded once a button within the vehicle is pressed, such as the time of arrival to the incident.</p>	
	         			</div> 
	         		</div> <!-- faq_item -->
				</div> <!-- faq_group -->

				<div id = "disclaimer" class="faq_group">
					<h3 class = "faq_title">Disclaimers</h3>
	         		<div class = "faq_item">
						<p class = "faq_question">Who collected this data?</p>
	          			<div class="faq_answer">
	            			<p>This data is presented on numerous websites including data.gov.ie, where the data used for this application was sourced. The data was collected by the National Ambulance Service and Dublin City Fire Brigade and was distributed by Dublin City Council.</p>	
	         			</div> 
	         		</div> <!-- faq_item -->

	         		<div class = "faq_item">
						<p class = "faq_question">How accurate is the data?</p>
	          			<div class="faq_answer">
	            			<p>The data was thoroughly screened and cleaned up before being uploaded to the database. All techniques used to fetch and process the data were fully tested for accuracy. However, there may remain some small inconsistencies within the data or visualizations. The developer of this site shall not be help responsible for inaccuracies of this nature.</p>	
	         			</div> 
	         		</div> <!-- faq_item -->
				
					<div class = "faq_item">
						<p class = "faq_question">Can I use the visualizations from this website?</p>
	          			<div class="faq_answer">
	            			<p>Yes. All visualizations on this website, including those generated by users, are available for use.</p>	
	         			</div> 
	         		</div> <!-- faq_item -->

	         		<div class = "faq_item">
						<p class = "faq_question">Can I contact the developer?</p>
	          			<div class="faq_answer">
	            			<p>Yes. The developer can be contacted here: </p>	
	            			<a href="https://www.linkedin.com/in/niall-o-brien-03301a107">
         					<img alt="Qries" src="../../static/VisualizeApp/img/LinkedIn.png" width=2%" height="2%"></a>
	         			</div> 
	         		</div> <!-- faq_item -->
	         	</div> <!-- faq_group -->

			</div> <!-- faq_items -->
		</section> <!-- faq_section -->
	</div>


{% endblock content %}

 
The fields from MOB through to CD are generated by the vehicle (either by a button press or a voice message) and they reflect its changing status.

