{% extends "VisualizeApp/base.html" %}

{% load static %}

{% block content %}

<!-- Page Content -->
<div class="container">

	<!-- Jumbotron Header -->
	<header class="jumbotron my-4">
		<h1 class="display-3">Welcome!</h1>
		<p class="lead">Welcome to SOStimate, the web application that allows you to dive into your Dublin regional ambulance and fire brigade service.<br><br><i>Check out the options below or learn about the available features on the about page.</i></p>
		<a href="{% url 'site-about' %}" class="btn btn-primary btn-lg">Go to features!</a>
	</header>

	<!-- Page Features -->
	<div class="row text-center">

		<div class="col-lg-3 col-md-6 mb-4">
			<div class="card h-100">
				<a href="{% url 'site-about' %}"><img alt="Map link image" class = "card-img-top" src="{% static 'VisualizeApp/Img/About.png' %}"></a>
					<div class="card-body">
						<h4 class="card-title">About</h4>
						<p class="card-text">What is SOStimate? How can I use it? What data is used? Get answers to all of these questions and more by clicking the button below.</p>
					</div>
					<div class="card-footer">
						<a href="{% url 'site-about' %}" class="btn btn-primary">More</a>
					</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 mb-4">
			<div class="card h-100">
				<a href="{% url 'site-map' %}"><img alt="Map link image" class = "card-img-top" src="{% static "VisualizeApp/Img/Map.png" %}"></a>
					<div class="card-body">
						<h4 class="card-title">Map</h4>
						<p class="card-text">Jump straight into exploring the data by using the map. With the location of each dispatch station available, have a look at some of the statistics on a per-station basis.</p>
					</div>
					<div class="card-footer">
					<a href="{% url 'site-map' %}" class="btn btn-primary">More</a>
					</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 mb-4">
			<div class="card h-100">
				<a href="{% url 'site-visualizations' %}"><img alt="Map link image" class = "card-img-top" src="{% static 'VisualizeApp/Img/Vis.png' %}"></a>
					<div class="card-body">
						<h4 class="card-title">Visualizations</h4>
						<p class="card-text">Not a fan of our visualizations? Something not here that you want to see? Make your own! Click below to generate your own visualizations from the datasets and use freely at your leisure.</p>
					</div>
					<div class="card-footer">
						<a href="{% url 'site-visualizations' %}" class="btn btn-primary">More</a>
					</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 mb-4">
			<div class="card h-100">
				<a href="https://data.gov.ie/"><img alt="Map link image" class = "card-img-top" src="{% static 'VisualizeApp/Img/Data.gov.png' %}"></a>
					<div class="card-body">
						<h4 class="card-title">The Data</h4>
						<p class="card-text">All data sourced from both Dublin City Council and the data.gov.ie website. Click below to be taken straight there and start your own data exploration journey!</p>
					</div>
					<div class="card-footer">
						<a href="https://data.gov.ie/" class="btn btn-primary">More</a>
					</div>
			</div>
		</div>

	</div>
	<!-- /.row -->

</div>
<!-- /.container -->

{% endblock content %}