{% extends "VisualizeApp/base.html" %}

{% block content %}

	<div class = "container">
		
		<div id = "visualizerHeader">
			<h1 class = "mainHeader">Custom Visualizer</h1>
			<div id = "vizHeaderBar">
			   <p id = "visualizerText">The controls below allow you to build your own visualization:</p>
			</div>
		</div> <!-- End Visualizer header -->

		<div id = "vizControlDiv">
			<div id = "vizControlHeader">
				<p>Answer each quetion below using the appropriate inputs and, when ready, click submit!</p>
			</div>

			<form id = "graphForm">
				<!--Station-->
				<fieldset>
					<p class = "vizQuestion">Which stations should be included in the visualization?</p>
					<input type="checkbox" id="tallaght" name="station" value="Tallaght">
					<label for="tallaght">Tallaght</label><br>
					<input type="checkbox" id="rathfarnham" name="station" value="Rathfarnham">
					<label for="rathfarnham">Rathfarnham</label><br>
					<input type="checkbox" id="dunlaoghaire" name="station" value="Dun Laoghaire">
					<label for="dunlaoghaire">Dun Laoghaire</label><br>
					<input type="checkbox" id="dolphinsbarn" name="station" value="Dolphins Barn">
					<label for="dolphinsbarn">Dolphins Barn</label><br>
					<input type="checkbox" id="donnybrook" name="station" value="Donnybrook">
					<label for="donnybrook">Donnybrook</label><br>
					<input type="checkbox" id="tarastreet" name="station" value="Tara Street">
					<label for="tarastreet">Tara Street</label><br>
					<input type="checkbox" id="phibsborough" name="station" value="Phibsborough">
					<label for="phibsborough">Phibsborough</label><br>
					<input type="checkbox" id="northstrand" name="station" value="North Strand">
					<label for="northstrand">North Strand</label><br>
					<input type="checkbox" id="blanchardstown" name="station" value="Blanchardstown">
					<label for="blanchardstown">Blanchardstown</label><br>
					<input type="checkbox" id="finglas" name="station" value="Finglas">
					<label for="finglas">Finglas</label><br>
					<input type="checkbox" id="kilbarrack" name="station" value="Kilbarrack">
					<label for="kilbarrack">Kilbarrack</label><br>
					<input type="checkbox" id="swords" name="station" value="Swords">
					<label for="swords">Swords</label><br>
					<input type="checkbox" id="skerries" name="station" value="Skerries">
					<label for="skerries">Skerries</label><br>
					<input type="checkbox" id="balbriggan" name="station" value="Balbriggan">
					<label for="balbriggan">Balbriggan</label><br>
				</fieldset>
				
				<!--Agency-->
				<fieldset>
					<p class = "vizQuestion">Which agency should be included in the visualization?</p>
					<input type="radio" id="overall" name="agency" value="Overall">
	  				<label for="overall">Both Ambulance and Fire Brigade</label><br>
	  				<input type="radio" id="da" name="agency" value="DA">
	  				<label for="da">Ambulance Only</label><br>
	  				<input type="radio" id="df" name="agency" value="DF">
	  				<label for="df">Fire Brigade Only</label><br>
  				</fieldset>

  				<!--Data-->
				<fieldset>
					<p class = "vizQuestion">What data would you like to see on the graph?</p>
					<input type="radio" id="incidentType" name="data" value="Incident Type">
					<label for="incidentType">Incident Type</label><br>
					<input type="radio" id="dispatchTime" name="data" value="DispatchTime">
					<label for="dispatchTime">Dispatch Time</label><br>
					<input type="radio" id="" name="data" value="">
					<label for=""></label><br>
  				</fieldset>

  				<!--Graph-->
				<fieldset>
					<p class = "vizQuestion">Which type of graph is required?</p>
					<input type="radio" id="barPlain" name="graph" value="BarGraph">
	  				<label for="barPlain">Bar Graph</label><br>
	  				<input type="radio" id="linePlain" name="graph" value="LineGraph">
	  				<label for="linePlain">Line Graph</label><br>
  				</fieldset>

  				<input class="submit" type="submit" value="Send" />
			</form>
		</div>
	
	</div> <!-- End container -->

{% endblock content %}