{% extends "VisualizeApp/base.html" %}

{% block content %}

	<div class = "container">
		
		<div id = "visualizerHeader">
			<h1 class = "mainHeader">Custom Visualizer</h1>
			<div id = "vizHeaderBar">
			   <p id = "visualizerText">Answer each question below by using the appropriate inputs and clicking next. When available, click submit to build visualization.</p>
			</div>
		</div> <!-- End Visualizer header -->

		<div id = "vizControlDiv">
			<div id = "vizControlHeader">
				<button id = "restartViz" onclick="location.reload();">Restart</button>
			</div>

			{% csrf_token %}
			
			<div id = "vizForm">
				<form id = "stationForm">
					<!--Station-->
					<fieldset>
						<p class = "vizQuestion">Which stations should be included in the visualization? <i>[You may choose more than one]</i></p>
						<button class = "unselectButton" type="reset">Unselect All</button>
						<input type="checkbox" id="tallaght" name="station" value="Tallaght">
						<label for="tallaght">Tallaght</label><br>
						<input type="checkbox" id="rathfarnham" name="station" value="Rathfarnham">
						<label for="rathfarnham">Rathfarnham</label><br>
						<input type="checkbox" id="dunlaoghaire" name="station" value="Dun Laoghaire">
						<label for="dunlaoghaire">Dun Laoghaire</label><br>
						<input type="checkbox" id="dolphinsbarn" name="station" value="Dolphins Barn">
						<label for="dolphinsbarn">Dolphins Barn</label><br>
						<input type="checkbox" id="donnybrook" name="station" value="Donnybrook">
						<label for="donnybrook">Donnybrook</label><br>
						<input type="checkbox" id="tarastreet" name="station" value="Tara Street">
						<label for="tarastreet">Tara Street</label><br>
						<input type="checkbox" id="phibsborough" name="station" value="Phibsborough">
						<label for="phibsborough">Phibsborough</label><br>
						<input type="checkbox" id="northstrand" name="station" value="North Strand">
						<label for="northstrand">North Strand</label><br>
						<input type="checkbox" id="blanchardstown" name="station" value="Blanchardstown">
						<label for="blanchardstown">Blanchardstown</label><br>
						<input type="checkbox" id="finglas" name="station" value="Finglas">
						<label for="finglas">Finglas</label><br>
						<input type="checkbox" id="kilbarrack" name="station" value="Kilbarrack">
						<label for="kilbarrack">Kilbarrack</label><br>
						<input type="checkbox" id="swords" name="station" value="Swords">
						<label for="swords">Swords</label><br>
						<input type="checkbox" id="skerries" name="station" value="Skerries">
						<label for="skerries">Skerries</label><br>
						<input type="checkbox" id="balbriggan" name="station" value="Balbriggan">
						<label for="balbriggan">Balbriggan</label><br>
					</fieldset>

	  				<input class="submit" type="submit" value="Next" />
				</form>
			</div>
		</div>
	
	</div> <!-- End container -->

{% endblock content %}